header {
  position: relative;
  z-index: 1;
  width: 78%;
  height: 160px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .desktop-menu {
  width: 420px;
}

header .desktop-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .desktop-menu ul li {
  list-style: none;
}

header .desktop-menu ul li a {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #242942;
  font-size: 16px;
}

header .desktop-menu ul li a:hover {
  text-decoration: underline;
}

header .desktop-menu ul .login {
  list-style: disc;
  color: #a0a1ac;
  padding-left: 28px;
}

header .desktop-menu ul .login a {
  color: #a0a1ac;
}

header .desktop-menu ul .login a:hover {
  text-decoration: underline;
}

header .hamburger {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  header {
    width: 87%;
  }
}

@media screen and (max-width: 900px) {
  header {
    width: 78%;
  }
  header .desktop-menu {
    display: none;
  }
  header .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
}

.mobile-menu {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  padding: 100px 0 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.mobile-menu ul {
  width: 350px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.mobile-menu ul li {
  list-style: none;
  margin: 15px 0;
}

.mobile-menu ul li a {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #242942;
  font-size: 20px;
}

.mobile-menu .login {
  width: 90%;
  border-top: 1px solid #a0a1ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0 0;
}

.mobile-menu .login a {
  color: #a0a1ac;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  header {
    width: 87%;
    height: 120px;
  }
}

.mobile-menu {
  padding: 100px 0 370px;
  display: none;
}

.mobile-menu ul {
  width: 330px;
}

.mobile-menu ul li a {
  font-size: 18px;
}

.mobile-menu .login a {
  font-size: 18px;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .details {
  width: 40%;
  margin-left: 11.5%;
  margin-top: 94px;
}

main .details .details-header {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .details .details-header .new {
  background-color: #242942;
  border-radius: 15px;
}

main .details .details-header .new p {
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  border-radius: 15px;
  margin: 0;
  padding: 3px 12px;
  text-transform: uppercase;
}

main .details .details-header .monograph {
  color: #a0a1ac;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 4px;
  margin-left: 15px;
}

main .details h1 {
  margin: 15px 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 64px;
  text-transform: uppercase;
  color: #242942;
  line-height: 1;
}

main .details .subtitle {
  width: 280px;
  margin-top: 32px;
  color: #5b5f71;
  font-size: 18px;
  line-height: 1.5;
}

main .details .details-footer {
  margin-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .details .details-footer button {
  width: 184px;
  height: 48px;
  border-radius: 6px;
  border: none;
  background-color: #ff5c5c;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.2px;
  cursor: pointer;
}

main .details .details-footer button:hover {
  opacity: 0.8;
}

main .details .details-footer p {
  margin-left: 25px;
  color: #a0a1ac;
  text-transform: uppercase;
  letter-spacing: 4.5px;
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
}

main .main-image {
  position: absolute;
  width: 67%;
  top: 56px;
  right: -260px;
}

@media screen and (max-width: 1024px) {
  main .details {
    width: 50%;
    margin-left: 6%;
  }
  main .main-image {
    width: 70%;
  }
}

@media screen and (max-width: 900px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .details {
    width: 78%;
    margin: 130px auto 70px;
  }
  main .details .subtitle {
    width: 500px;
  }
  main .main-image {
    position: relative;
    width: 90%;
    top: 20px;
    right: -40px;
  }
}

@media screen and (max-width: 600px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .details {
    width: 87%;
    margin: 130px auto 70px;
  }
  main .details h1 {
    font-size: 39px;
  }
  main .details .subtitle {
    width: 280px;
  }
  main .details .details-footer button {
    width: 160px;
    height: 40px;
  }
  main .details .details-footer p {
    font-size: 13px;
    margin-left: 10px;
    letter-spacing: 3px;
  }
  main .main-image {
    position: relative;
    width: 460px;
    top: 20px;
    right: -20px;
  }
}

body {
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;
  position: relative;
  font-family: "Barlow", sans-serif;
  margin: 0;
}

body .bg-pattern {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 50%;
  height: 435px;
  background-color: #eef3f6;
  border-bottom-left-radius: 60px;
}
/*# sourceMappingURL=style.css.map */